In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Kogaon_STREAMFLOW.xlsx')
df.drop(columns = [ 'Grid No.', 'Lat', 'Long', 'weights', 'Q(t-1)' ], inplace = True)
df.drop(columns = ['Q(t-2)', 'Q(t-3)', 'Q(t-4)', 'Q(t-5)', 'Q(t-6)', 'Q(t-7)', 'Q(t-8)', 'Q(t-9)', 'Q(t-10)', 'Q(t-11)', 'Q(t-12)', 'Q(t-13)', 'Q(t-14)', 'Q(t-15)', 'Moving_sum_5', 'Moving_sum_6', 'Moving_sum_7'], inplace = True)
df

,Date,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,RF_7,RF_8,RF_9,RF_10,RF_11,LRF,Q
0,1978-06-01,1978,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00
1,1978-06-02,1978,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00
2,1978-06-03,1978,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00
3,1978-06-04,1978,6,4,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.075217,0.00
4,1978-06-05,1978,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15336,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.23
15337,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.01
15338,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.19
15339,2020-05-30,2020,5,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,9.05
15340,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,9.05

In [3]:
k = 1
j = 0
rows_to_drop = []

for i in range(0, 42):
    if k == i:
        rows_to_drop.extend(range(122 + 365*i + j, 366 + 365*i + j))
        k = k + 4
        j = j + 1
    elif k != i:
        rows_to_drop.extend(range(122 + 365*i + j, 366 + 365*i + j - 1))

# Drop all the rows in one go
df.drop(rows_to_drop, inplace=True)
df

,Date,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,RF_7,RF_8,RF_9,RF_10,RF_11,LRF,Q
0,1978-06-01,1978,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
1,1978-06-02,1978,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
2,1978-06-03,1978,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
3,1978-06-04,1978,6,4,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.075217,0.000
4,1978-06-05,1978,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15092,2019-09-26,2019,9,26,50.0,14.1,31.1,18.1,21.1,35.7,50.4,25.4,19.1,12.9,47.1,24.186521,374.013
15093,2019-09-27,2019,9,27,5.9,14.3,14.5,8.4,2.3,5.3,2.0,1.7,1.6,10.6,1.8,7.193859,290.930
15094,2019-09-28,2019,9,28,4.3,3.7,8.1,3.5,2.6,21.5,14.1,5.6,7.6,26.3,16.6,10.893042,189.479
15095,2019-09-29,2019,9,29,1.8,0.4,0.0,0.0,0.0,2.2,0.4,0.0,0.0,4.1,1.5,1.108558,192.000
15096,2019-09-30,2019,9,30,0.0,0.0,0.0,0.0,0.0,7.1,0.5,0.0,0.0,10.3,0.4,2.575548,112.787

In [4]:
df.to_excel('Monsoon.xlsx')