In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Chhidgaon_F.xlsx')
df.drop(columns = [ 'Grid No.', 'Lat', 'Long','Weights', 'Q(t-1)' ], inplace = True)
df.drop(columns = ['Q(t-2)', 'Q(t-3)', 'Q(t-4)', 'Q(t-5)', 'Q(t-6)', 'Q(t-7)', 'Q(t-8)', 'Q(t-9)', 'Q(t-10)', 'Q(t-11)', 'Q(t-12)', 'Q(t-13)', 'Q(t-14)', 'Q(t-15)', 'Moving_sum_5', 'Moving_sum_6', 'Moving_sum_7'], inplace = True)
df

,Date,Year,Month,Day,RF_Grid 1,RF_Grid 2,RF_Grid 3,RF_Grid 4,RF_Grid 5,RF_Grid 6,RF_Grid 8,RF_Grid 9,LRF,Q
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.4
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15701,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15702,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15703,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15704,2020-05-30,2020,5,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15705,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [3]:
k = 2
j = 0
rows_to_drop = []

for i in range(0, 43):
    if k == i:
        rows_to_drop.extend(range(122 + 365*i + j, 366 + 365*i + j))
        k = k + 4
        j = j + 1
    elif k != i:
        rows_to_drop.extend(range(122 + 365*i + j, 366 + 365*i + j - 1))

# Drop all the rows in one go
df.drop(rows_to_drop, inplace=True)
df

,Date,Year,Month,Day,RF_Grid 1,RF_Grid 2,RF_Grid 3,RF_Grid 4,RF_Grid 5,RF_Grid 6,RF_Grid 8,RF_Grid 9,LRF,Q
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.4
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15457,2019-09-26,2019,9,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129.51
15458,2019-09-27,2019,9,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.07
15459,2019-09-28,2019,9,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,179.62
15460,2019-09-29,2019,9,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.95
15461,2019-09-30,2019,9,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98.64

In [4]:
df.to_excel('Monsoon.xlsx')