In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Mohgaon streamflow.xlsx')
df.drop(columns = [ 'Grid No.', 'Lat', 'Long', 'weights', 'Q(t-1)' ], inplace = True)
df.drop(columns = ['Q(t-2)', 'Q(t-3)', 'Q(t-4)', 'Q(t-5)', 'Q(t-6)', 'Q(t-7)', 'Q(t-8)', 'Q(t-9)', 'Q(t-10)', 'Q(t-11)', 'Q(t-12)', 'Q(t-13)', 'Q(t-14)', 'Q(t-15)', 'Moving_sum_5', 'Moving_sum_6', 'Moving_sum_7'], inplace = True)
df

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,RF_7,RF_8,RF_9,RF_10,RF_11,RF_12,RF_13,RF_14,LRF,Q
0,1978-06-01,1978,6,1,0.3,0.5,0.3,0.3,0.2,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.113086,0.1
1,1978-06-02,1978,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.1
2,1978-06-03,1978,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.1
3,1978-06-04,1978,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.1
4,1978-06-05,1978,6,5,2.0,3.4,2.2,2.2,1.2,1.0,1.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.941991,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15336,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.92
15337,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.92
15338,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.92
15339,2020-05-30,2020,5,30,1.7,2.0,0.9,1.3,0.8,1.1,0.8,6.4,6.6,2.6,1.3,7.1,6.1,7.5,1.979199,0.87
15340,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,0.1,0.0,0.0,0.2,0.081418,0.88

In [3]:
k = 1
j = 0
rows_to_drop = []

for i in range(0, 42):
    if k == i:
        rows_to_drop.extend(range(122 + 365*i + j, 366 + 365*i + j))
        k = k + 4
        j = j + 1
    elif k != i:
        rows_to_drop.extend(range(122 + 365*i + j, 366 + 365*i + j - 1))

# Drop all the rows in one go
df.drop(rows_to_drop, inplace=True)
df

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,RF_7,RF_8,RF_9,RF_10,RF_11,RF_12,RF_13,RF_14,LRF,Q
0,1978-06-01,1978,6,1,0.3,0.5,0.3,0.3,0.2,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.113086,0.1
1,1978-06-02,1978,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.1
2,1978-06-03,1978,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.1
3,1978-06-04,1978,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.1
4,1978-06-05,1978,6,5,2.0,3.4,2.2,2.2,1.2,1.0,1.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.941991,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15092,2019-09-26,2019,9,26,21.5,51.7,20.0,37.8,42.1,29.0,44.4,45.6,48.2,15.3,40.0,48.4,45.3,44.4,33.957375,316
15093,2019-09-27,2019,9,27,3.4,4.1,4.2,7.9,24.1,11.0,31.0,44.9,55.5,1.6,29.8,44.8,52.0,43.4,20.216973,337.9
15094,2019-09-28,2019,9,28,14.9,5.9,17.0,7.3,7.2,17.9,11.6,13.5,15.5,34.3,18.1,14.3,17.4,17.1,16.809621,675.3
15095,2019-09-29,2019,9,29,26.0,23.9,27.8,24.2,27.7,30.5,29.7,31.4,41.1,42.0,32.6,31.7,33.4,32.6,31.047343,950
15096,2019-09-30,2019,9,30,19.8,17.9,20.3,16.0,14.9,21.6,16.8,17.1,41.6,25.6,20.9,18.1,19.2,19.7,19.714809,750.5

In [4]:
df.to_excel('Monsoon.xlsx')