In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Gadarwara Temperature.xlsx')
rows_to_drop = [(0,9647), (25354, 25932)]
for start_index, end_index in rows_to_drop:
     df.drop(range(start_index, end_index + 1), inplace = True)
df

,Year,Month,Day,T2 max,T3 max,T12 max,T13 max,T2 min,T3 min,T12 min,T13 min,T2 avg,T3 avg,T12 avg,T13 avg
9648,1977,6,1,38.2,38.2,38.6,39.1,26.1,25.9,26.1,26.1,38.20,32.05,32.35,32.60
9649,1977,6,2,38.2,38.4,38.5,39.1,26.1,26.1,26.2,26.2,38.30,32.25,32.35,32.65
9650,1977,6,3,38.6,38.6,39.1,39.7,25.9,26.0,25.9,26.1,38.60,32.30,32.50,32.90
9651,1977,6,4,38.9,38.8,39.7,40.4,26.1,26.1,26.3,26.7,38.85,32.45,33.00,33.55
9652,1977,6,5,39.7,39.7,40.3,41.0,26.0,26.2,26.4,26.7,39.70,32.95,33.35,33.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25349,2020,5,27,40.5,41.3,41.8,43.0,26.6,26.5,27.1,27.2,40.90,33.90,34.45,35.10
25350,2020,5,28,40.3,41.7,41.9,42.7,26.9,26.8,27.1,27.1,41.00,34.25,34.50,34.90
25351,2020,5,29,39.2,39.9,40.0,41.4,27.2,26.9,27.3,27.5,39.55,33.40,33.65,34.45
25352,2020,5,30,38.9,39.8,40.0,40.7,27.4,27.0,27.0,26.4,39.35,33.40,33.50,33.55
25353,2020,5,31,39.2,40.1,40.3,40.9,27.6,27.2,26.6,26.8,39.65,33.65,33.45,33.85

In [3]:
df.to_excel('TEMP_Q.xlsx')